<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta id="meta-keywords" name="keywords" content="" />
    <meta id="meta-description" name="description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <link rel="icon" type="image/x-icon" href="" />
    <link rel="stylesheet" href="./css/home3style.css" />
    <style
      data-styled="ivoOXx flRpiB boKZAu jHCZrL  jleCMa hUapdl eesjtb iujHkG eLzqCP dWccLj cVEOnZ ejasks klRlEw erzCUf lnBpIw efGCZS gohCwH jCZhhi icbRkp gzOFiU dCQvtf jueczu PECpi kxjfKi doqsWn hMIZuU jBTbJx cgyQOm eXTKNR jckHSK dONHmQ dQJxMm hsznqr ipnIUp  gzUBsa fuixNp ffCTND aeKFA ghwqAa hUYWvT iFFOgL inVtCW vGbWW DgyKL dPbHpo btiSAy gHgdPW dlUGEP"
      data-styled-version="4.3.2"
    >
    body{
      background: #00467F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

      /* sc-component-id: sc-global-3473592192 */
      @-webkit-keyframes fadeInImg {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes fadeInImg {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .img-loading {
        opacity: 0;
        width: 100%;
        height: auto;
      }
      .img-loaded {
        -webkit-animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
        animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
        position: relative;
        opacity: 0;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
      }
      .LazyLoad {
        height: 100%;
      }
      .lazy-figure {
        position: relative;
      }
      /* sc-component-id: sc-1vrgkll-0 */
      .ivoOXx {
        position: fixed;
        z-index: 19;
        right: 20px;
        top: auto;
        bottom: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin-bottom: 20px;
        background: none;
      }
      /* sc-component-id: sc-1vrgkll-1 */
      .flRpiB {
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        outline: none;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.2s, visibility 0.2s;
        transition: opacity 0.2s, visibility 0.2s;
        background: transparent
          linear-gradient(180deg, #ffffff 0%, #f5f7ff 100%) 0% 0% no-repeat;
        border: 1px solid #f5f7ff;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(41, 55, 97, 0.15);
      }
      .flRpiB > div svg {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        fill: #7367f0;
      }
      .flRpiB:hover {
        background: #ffffff;
      }
      /* sc-component-id: sc-1ly7lpo-0 */
      .boKZAu {
        position: relative;
      }
      /* sc-component-id: sc-1ly7lpo-1 */
      .jHCZrL {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
        top: -0px;
        left: 50%;
      }
      /* sc-component-id: zyxusa-0 */
      .kxjfKi {
        word-break: break-word;
        padding: 80px 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
      }
      @media only screen and (max-width: 600px) {
        .kxjfKi {
          padding: 60px 0;
        }
      }
      /* sc-component-id: et7lxk-0 */
      .iujHkG {
        width: 100%;
        -webkit-transition: background 0.2s linear;
        transition: background 0.2s linear;
        background: #00467F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        padding-top: 0;
        box-shadow: none;
        position: fixed !important;
        z-index: 9;
        top: 0;
        left: 0;
        right: 0;
      }
      @media only screen and (max-width: 768px) {
        .iujHkG {
          padding-top: 0;
        }
      }
      .iujHkG .rf-add-btn {
        white-space: nowrap;
      }
      /* sc-component-id: et7lxk-1 */
      .eLzqCP {
        width: 100%;
        max-width: 1500px;
        position: relative;
        padding: 0 20px;
        margin: 0 auto;
        z-index: 3;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        box-sizing: border-box;
      }
      .eLzqCP .lazy-figure {
        font-size: 0;
      }
      @media only screen and (max-width: 1440px) {
        .eLzqCP {
          width: 100%;
          max-width: 1200px;
        }
      }
      @media only screen and (max-width: 768px) {
        .eLzqCP {
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: flex-end;
        }
      }
      /* sc-component-id: sc-1akbv98-1 */
      .cVEOnZ {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 0;
      }
      @media only screen and (max-width: 768px) {
        .cVEOnZ {
          display: none;
        }
      }
      @media only screen and (orientation: landscape) and (max-width: 812px) {
        .cVEOnZ {
          display: none;
        }
      }
      .cVEOnZ .add-button-wrap {
        margin-left: 20px;
      }
      /* sc-component-id: sc-1akbv98-2 */
      .dWccLj {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: 100%;
        margin: 0px 20px;
      }
      @media only screen and (max-width: 768px) {
        .dWccLj {
          display: none;
        }
      }
      @media only screen and (orientation: landscape) and (max-width: 812px) {
        .dWccLj {
          display: none;
        }
      }
      .dWccLj .header-socials {
        padding: 10px 0;
      }
      /* sc-component-id: sc-1akbv98-4 */
      .ejasks {
        cursor: pointer;
        text-transform: uppercase;
        color: #ffffff;
        max-width: 270px;
        position: relative;
      }
      /* sc-component-id: sc-1akbv98-9 */
      .dCQvtf {
        margin: 10px 0 10px auto;
        z-index: 2;
        display: block;
        color: #ffffff;
      }
      /* sc-component-id: sc-1akbv98-11 */
      .gzOFiU {
        display: none;
      }
      @media only screen and (max-width: 768px) {
        .gzOFiU {
          display: block;
        }
      }
      @media (orientation: landscape) and (max-width: 812px) {
        .gzOFiU {
          display: block;
        }
      }
      /* sc-component-id: ewl9y2-0 */
      .eesjtb {
        width: 95%;
        max-width: 1400px;
        margin: 0 auto;
        box-sizing: border-box;
      }
      @media only screen and (max-width: 1440px) {
        .eesjtb {
          width: 90%;
          max-width: 1200px;
        }
      }
      @media only screen and (max-width: 768px) {
        .eesjtb {
          width: 100%;
          padding: 0 40px;
        }
      }
      @media only screen and (max-width: 458px) {
        .eesjtb {
          padding: 0 20px;
        }
      }
      /* sc-component-id: x7uh82-0 */
      .ffCTND {
        padding: 50px 0;
        background-color: rgba(41, 55, 97, 1);
      }
      .ffCTND .socials-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
      .ffCTND .socials-wrapper {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      .ffCTND
        .socials-wrapper
        > .control-container:nth-last-child(-n + 3)
        .styled-controls {
        right: 0;
        left: initial;
      }
      .ffCTND .socials-wrapper .link {
        fill: #ffffff;
        color: #ffffff;
        background: linear-gradient(-180deg, #ce9ffc 0%, #7367f0 96%);
        box-shadow: none;
        border-radius: 50%;
      }
      @media only screen and (min-width: 767px) {
        .ffCTND .socials-wrapper .link:hover {
          color: #ffffff;
          background: #7367f0;
          box-shadow: none;
        }
      }
      .ffCTND .socials-wrapper .link:active {
        color: #ffffff;
        background: #ce9ffc;
        box-shadow: none;
      }
      /* sc-component-id: x7uh82-1 */
      .aeKFA {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      @media only screen and (max-width: 800px) {
        .aeKFA {
          -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
        }
      }
      /* sc-component-id: sc-1y8vywq-0 */
      .ghwqAa {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
      }
      .ghwqAa .rf-add-btn {
        padding: 15px;
        margin-left: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .ghwqAa .rf-add-btn .icon {
        margin-right: initial;
      }
      /* sc-component-id: sc-1y8vywq-1 */
      .hUYWvT {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
      }
      .hUYWvT .link {
        width: 36px;
        height: 36px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-text-decoration: none;
        text-decoration: none;
        margin: 5px;
      }
      /* sc-component-id: sc-140n064-0 */
      .jleCMa {
        position: relative;
        background-color: rgba(41, 55, 97, 1);
      }
      /* sc-component-id: sc-140n064-1 */
      .hUapdl {
        padding-top: 0;
        height: 0px;
      }
      /* sc-component-id: sc-1oacxr2-0 */
      .PECpi {
        background: #00467F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      /* sc-component-id: sc-1oacxr2-1 */
      .doqsWn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .doqsWn > :first-child {
        margin-top: 0;
      }
      /* sc-component-id: sc-1oacxr2-4 */
      .eXTKNR {
        border-left: none;
        border-right: 1px solid #d7def4;
        position: relative;
        width: 50%;
        max-width: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 50px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
      .eXTKNR .lazy-figure {
        border-radius: 10px;
      }
      @media only screen and (max-width: 1024px) {
        .eXTKNR {
          width: 100%;
          max-width: unset;
          border: none;
          padding-bottom: 0;
          margin-top: 80px;
          padding-bottom: 40px;
        }
      }
      @media only screen and (max-width: 1024px) {
        .eXTKNR {
          margin-top: 0;
        }
      }
      .jckHSK {
        border-left: 1px solid #d7def4;
        border-right: none;
        position: relative;
        width: 50%;
        max-width: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 50px;
        -webkit-transform: translateX(-1px);
        -ms-transform: translateX(-1px);
        transform: translateX(-1px);
      }
      .jckHSK .lazy-figure {
        border-radius: 10px;
      }
      @media only screen and (max-width: 1024px) {
        .jckHSK {
          width: 100%;
          max-width: unset;
          border: none;
          padding-bottom: 0;
          margin-top: 80px;
          padding-bottom: 40px;
        }
      }
      @media only screen and (max-width: 1024px) {
        .jckHSK {
          margin-top: 0;
        }
      }
      /* sc-component-id: sc-1oacxr2-5 */
      .dONHmQ {
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 34px;
        background-color: rgba(41, 55, 97, 1);
        color: #ce9ffc;
        position: absolute;
        left: unset;
        right: -16px;
        top: 0;
      }
      @media only screen and (max-width: 1024px) {
        .dONHmQ {
          right: unset;
          left: -17px;
          bottom: -70px;
          top: initial;
        }
      }
      .dQJxMm {
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 34px;
        background-color: rgba(41, 55, 97, 1);
        color: #ce9ffc;
        position: absolute;
        left: -17px;
        right: unset;
        top: 0;
      }
      @media only screen and (max-width: 1024px) {
        .dQJxMm {
          right: unset;
          left: -17px;
          bottom: -70px;
          top: initial;
        }
      }
      /* sc-component-id: sc-1oacxr2-7 */
      .gzUBsa {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 650px;
        padding: 0 45px;
        width: 50%;
        max-width: 50%;
        box-sizing: border-box;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
      }
      @media only screen and (max-width: 1024px) {
        .gzUBsa {
          -webkit-align-items: flex-start;
          -webkit-box-align: flex-start;
          -ms-flex-align: flex-start;
          align-items: flex-start;
          max-width: unset;
          width: 100%;
          margin-top: 40px;
          padding: 0 45px;
        }
      }
      @media only screen and (max-width: 600px) {
        .gzUBsa {
          -webkit-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0 4px;
          text-align: center;
        }
      }
      .gzUBsa > :first-child {
        padding-top: 0;
        background: none;
      }
      .fuixNp {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 650px;
        padding: 0 45px;
        width: 50%;
        max-width: 50%;
        box-sizing: border-box;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
        text-align: right;
      }
      @media only screen and (max-width: 1024px) {
        .fuixNp {
          -webkit-align-items: flex-start;
          -webkit-box-align: flex-start;
          -ms-flex-align: flex-start;
          align-items: flex-start;
          max-width: unset;
          width: 100%;
          margin-top: 40px;
          padding: 0 45px;
        }
      }
      @media only screen and (max-width: 600px) {
        .fuixNp {
          -webkit-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0 4px;
          text-align: center;
        }
      }
      .fuixNp > :first-child {
        padding-top: 0;
        background: none;
      }
      /* sc-component-id: sc-1oacxr2-8 */
      .ipnIUp {
        max-width: 700px;
        width: 100%;
        font-size: 0;
        padding-top: 0;
        padding-right: 45px;
        padding-left: 45px;
        box-sizing: border-box;
        font-size: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
      }
      @media only screen and (max-width: 1024px) {
        .ipnIUp {
          max-width: unset;
        }
      }
      @media only screen and (max-width: 600px) {
        .ipnIUp {
          padding: 0;
        }
      }
      /* sc-component-id: sc-1oacxr2-9 */
      .hsznqr {
        position: relative;
        padding-top: 56.25%;
        width: 100%;
        margin: 0 auto;
      }
      @media only screen and (max-width: 600px) {
        .hsznqr {
          margin-top: 40px;
        }
      }
      /* sc-component-id: sc-1oacxr2-12 */
      .hMIZuU {
        padding-top: 50px;
        width: 100%;
      }
      @media only screen and (max-width: 600px) {
        .hMIZuU {
          margin-top: -40px;
        }
      }
      /* sc-component-id: sc-1oacxr2-13 */
      .jBTbJx {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
      }
      @media only screen and (max-width: 1024px) {
        .jBTbJx {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          border-left: 1px solid #d7def4;
          padding-bottom: 50px;
        }
      }
      @media only screen and (max-width: 600px) {
        .jBTbJx {
          border: none;
          padding-bottom: 0;
        }
      }
      @media only screen and (min-width: 601px) {
        .jBTbJx:last-child .sc-1oacxr2-4 {
          padding-bottom: 0;
        }
      }
      @media only screen and (max-width: 600px) {
        .jBTbJx:last-child:last-child {
          padding-bottom: 0;
        }
      }
      .jBTbJx:last-child .sc-1oacxr2-7 {
        padding-bottom: 0;
      }
      .jBTbJx:last-child {
        padding-bottom: 0;
      }
      .jBTbJx:last-child .sc-1oacxr2-5 {
        bottom: -70px;
      }
      .cgyQOm {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
      }
      @media only screen and (max-width: 1024px) {
        .cgyQOm {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          border-left: 1px solid #d7def4;
          padding-bottom: 50px;
        }
      }
      @media only screen and (max-width: 600px) {
        .cgyQOm {
          border: none;
          padding-bottom: 0;
        }
      }
      @media only screen and (min-width: 601px) {
        .cgyQOm:last-child .sc-1oacxr2-4 {
          padding-bottom: 0;
        }
      }
      @media only screen and (max-width: 600px) {
        .cgyQOm:last-child:last-child {
          padding-bottom: 0;
        }
      }
      .cgyQOm:last-child .sc-1oacxr2-7 {
        padding-bottom: 0;
      }
      .cgyQOm:last-child {
        padding-bottom: 0;
      }
      .cgyQOm:last-child .sc-1oacxr2-5 {
        bottom: -70px;
      }
      /* sc-component-id: sc-15u4boq-0 */
      .iFFOgL {
        padding: 110px 0;
        word-break: break-word;
        background: transparent
          linear-gradient(180deg, #387dff 0%, #004bd6 100%) 0% 0% no-repeat
          padding-box;
      }
      @media only screen and (max-width: 1320px) {
        .iFFOgL {
          padding: 50px 0;
        }
      }
      /* sc-component-id: sc-15u4boq-1 */
      .inVtCW {
        width: 90%;
        max-width: 1720px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      @media only screen and (max-width: 1320px) {
        .inVtCW {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
        }
      }
      @media only screen and (max-width: 458px) {
        .inVtCW {
          padding: 0;
        }
      }
      /* sc-component-id: sc-15u4boq-2 */
      .dlUGEP {
        cursor: pointer;
        position: relative;
      }
      @media only screen and (max-width: 1320px) {
        .dlUGEP {
          margin-top: 45px;
        }
      }
      .dlUGEP:before {
        content: "";
        position: absolute;
        left: -22px;
        background-color: #6291f7;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      @media only screen and (max-width: 1320px) {
        .dlUGEP:before {
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          top: -20px;
        }
      }
      /* sc-component-id: sc-15u4boq-3 */
      .gHgdPW {
        -webkit-text-decoration: none;
        text-decoration: none;
      }
      /* sc-component-id: sc-15u4boq-4 */
      .btiSAy {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-width: 330px;
      }
      @media only screen and (max-width: 1320px) {
        .btiSAy {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
        }
      }
      .btiSAy .sc-15u4boq-3,
      .btiSAy .sc-15u4boq-2 {
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        margin-left: 35px;
        position: relative;
        font-weight: 500;
      }
      .btiSAy .sc-15u4boq-3:after,
      .btiSAy .sc-15u4boq-2:after {
        content: "";
        position: absolute;
        height: 2px;
        bottom: -4px;
        left: 0;
        right: 0;
        width: 0px;
        left: 50%;
        -webkit-transition: all ease-in-out 0.2s;
        transition: all ease-in-out 0.2s;
        background-color: #ffffff;
      }
      .btiSAy .sc-15u4boq-3:hover:after,
      .btiSAy .sc-15u4boq-2:hover:after {
        width: 100%;
        left: 0;
      }
      @media only screen and (max-width: 1320px) {
        .btiSAy .sc-15u4boq-3,
        .btiSAy .sc-15u4boq-2 {
          margin: 0 auto;
        }
        .btiSAy .sc-15u4boq-3.sc-15u4boq-3,
        .btiSAy .sc-15u4boq-2.sc-15u4boq-3 {
          margin-bottom: 46px;
        }
      }
      /* sc-component-id: sc-15u4boq-5 */
      .dPbHpo {
        position: relative;
        color: #ffffff;
        max-width: 656px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-left: 30px;
        padding-left: 22px;
      }
      @media only screen and (max-width: 1320px) {
        .dPbHpo {
          text-align: center;
          margin: 0 auto 60px auto;
          padding: 0;
        }
      }
      .dPbHpo:before {
        content: "";
        position: absolute;
        left: 0;
        width: 2px;
        top: 0;
        bottom: 0;
        background-color: #6291f7;
      }
      @media only screen and (max-width: 1320px) {
        .dPbHpo:before {
          width: 76px;
          height: 2px;
          left: 50%;
          -webkit-transform: translateX(-35%);
          -ms-transform: translateX(-35%);
          transform: translateX(-35%);
          top: -20px;
        }
      }
      /* sc-component-id: sc-15u4boq-6 */
      .vGbWW {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      @media only screen and (max-width: 1320px) {
        .vGbWW {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
        }
      }
      /* sc-component-id: sc-15u4boq-7 */
      .DgyKL {
        max-width: 280px;
        width: 100%;
        text-align: center;
      }
      @media only screen and (max-width: 1320px) {
        .DgyKL {
          margin-bottom: 32px;
        }
      }
      /* sc-component-id: sc-global-2536265530 */
      .WM_GLOBAL_heading {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 42px;
        margin-bottom: 0.3em;
      }
      @media only screen and (max-width: 768px) {
        .WM_GLOBAL_heading {
          font-size: 26px;
        }
      }
      .WM_GLOBAL_headingExtraLarge {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 325px;
        margin-bottom: 0.3em;
      }
      @media only screen and (max-width: 768px) {
        .WM_GLOBAL_headingExtraLarge {
          font-size: 200px;
        }
      }
      .WM_GLOBAL_headingLarge {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 200px;
        margin-bottom: 0.3em;
      }
      @media only screen and (max-width: 768px) {
        .WM_GLOBAL_headingLarge {
          font-size: 75px;
        }
      }
      .WM_GLOBAL_heading96 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 96px;
        margin-bottom: 0.3em;
      }
      @media only screen and (max-width: 768px) {
        .WM_GLOBAL_heading96 {
          font-size: 55px;
        }
      }
      .WM_GLOBAL_heading72 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 72px;
        margin-bottom: 0.3em;
      }
      @media only screen and (max-width: 768px) {
        .WM_GLOBAL_heading72 {
          font-size: 42px;
        }
      }
      .WM_GLOBAL_heading54 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 54px;
        margin-bottom: 0.3em;
      }
      @media only screen and (max-width: 768px) {
        .WM_GLOBAL_heading54 {
          font-size: 34px;
        }
      }
      .WM_GLOBAL_heading42 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 42px;
        margin-bottom: 0.3em;
      }
      @media only screen and (max-width: 768px) {
        .WM_GLOBAL_heading42 {
          font-size: 26px;
        }
      }
      .WM_GLOBAL_heading32 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 0.3em;
      }
      @media only screen and (max-width: 768px) {
        .WM_GLOBAL_heading32 {
          font-size: 24px;
        }
      }
      .WM_GLOBAL_heading24 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 0.3em;
      }
      @media only screen and (max-width: 768px) {
        .WM_GLOBAL_heading24 {
          font-size: inheritpx;
        }
      }
      .WM_GLOBAL_heading20 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 0.3em;
      }
      @media only screen and (max-width: 768px) {
        .WM_GLOBAL_heading20 {
          font-size: 20px;
        }
      }
      .WM_GLOBAL_paragraph {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.4;
      }
      .WM_GLOBAL_paragraph18 {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.4;
      }
      .WM_GLOBAL_paragraph14 {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.4;
      }
      .WM_GLOBAL_paragraph12 {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.4;
      }
      .WM_GLOBAL_primary-font {
        font-family: Montserrat;
        font-weight: 700;
      }
      .WM_GLOBAL_secondary-font {
        font-family: Montserrat;
        font-weight: 300;
      }
      /* sc-component-id: sc-15za8y8-0 */
      .klRlEw {
        text-transform: initial;
      }
      .erzCUf {
        color: #ffffff;
        text-align: center;
        margin-bottom: 0;
      }
      .lnBpIw {
        color: #ffffff;
        text-align: center;
        line-height: 1.4;
        margin-top: 20px;
      }
      .efGCZS {
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 22px;
        font-weight: 800;
      }
      .gohCwH {
        color: #ffffff;
        line-height: 1.4;
      }
      @media only screen and (max-width: 1024px) {
        .gohCwH {
          text-align: left;
        }
      }
      @media only screen and (max-width: 600px) {
        .gohCwH {
          text-align: center;
        }
      }
      .jCZhhi {
        font-size: 12px;
        color: #ffffff;
      }
      @media only screen and (max-width: 800px) {
        .jCZhhi {
          margin-top: 50px;
        }
      }
    </style>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=IM+Fell+English+SC&family=Kurale&family=Libre+Baskerville&family=Prata&family=Zilla+Slab+Highlight&family=BioRhyme&family=Space+Mono&family=Staatliches&family=Fredericka+the+Great&family=Overpass&family=Caveat+Brush&family=Asap&family=Abril+Fatface&family=Alice&family=Cardo:wght@400;700&family=Chelsea+Market&family=Eczar&family=Great+Vibes&family=Lato:wght@300;400&family=Merriweather:wght@400;700&family=Monoton&family=Montserrat:wght@300;400;500;700&family=Mukta&family=Open+Sans:wght@400;600&family=Oswald:wght@700&family=Pacifico&family=Parisienne&family=Permanent+Marker&family=Philosopher&family=Playfair+Display&family=Playfair+Display+SC&family=Poppins:wght@300;400;700&family=Raleway:wght@300;400&family=Roboto&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@700&family=Rubik:wght@300&family=Russo+One&family=Slabo+27px&family=Special+Elite&family=Titan+One&family=Ultra&family=Rubik+Mono+One&family=Amatic+SC&family=Andika&family=Josefin+Sans&family=Cinzel&family=Fauna+One&family=Sacramento&family=Yeseva+One&family=Quicksand&family=Homemade+Apple&family=Roboto+Mono&family=Rye&family=Black+Han+Sans&family=Fredoka+One&display=swap"
    />
    <script src="../builtIcons-kzn1jiaj.js" async></script>
  </head>
  <body>
    <div id="root">
      <div class="sc-1vrgkll-0 ivoOXx">
        <button class="sc-1vrgkll-1 flRpiB"></button>
      </div>
      <header>
        <div class="sc-1ly7lpo-0 boKZAu">
          <div id="comp-undefined" class="sc-1ly7lpo-1 jHCZrL"></div>
          <div id="comp-0" class="sc-1ly7lpo-1 jHCZrL"></div>
          <div class="sc-140n064-0 jleCMa">
            <div class="sc-140n064-1 hUapdl ewl9y2-0 eesjtb">
              <div class="et7lxk-0 iujHkG">
                <div
                  type="noheader"
                  class="WM_GLOBAL_secondary-font et7lxk-1 eLzqCP"
                >
                  <div class="porjectLinksDesktop sc-1akbv98-2 dWccLj">
                    <nav class="sc-1akbv98-1 cVEOnZ">
                      <div class="sc-1akbv98-4 ejasks">
                        <div class="more-links">
                          <div
                            class="sc-1akbv98-10 undefined sm-word-wrap sc-15za8y8-0 klRlEw"
                          >
                            MORE
                          </div>
                        </div>
                      </div>
                    </nav>
                  </div>
                  <div class="sc-1akbv98-11 gzOFiU">
                    <div
                      class="mobile-navbar-container sc-1akbv98-9 dCQvtf"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section>
        <div class="sc-1ly7lpo-0 boKZAu">
          <div id="comp-17ee1d50fad" class="sc-1ly7lpo-1 jHCZrL"></div>
          <div id="comp-1" class="sc-1ly7lpo-1 jHCZrL"></div>
          <div class="sc-1oacxr2-0 PECpi zyxusa-0 kxjfKi">
            <div class="sc-1oacxr2-1 doqsWn ewl9y2-0 eesjtb">
              <h4
                class="sc-1oacxr2-2 WM_GLOBAL_heading sm-word-wrap sc-15za8y8-0 erzCUf"
              >
                Technical Module
              </h4>
              <p
                class="sc-1oacxr2-3 WM_GLOBAL_paragraph sm-word-wrap sc-15za8y8-0 lnBpIw"
              >
                ILorem ipsum dolor, sit amet consectetur adipisicing elit. Modi
                debitis labore quaerat, harum placeat eligendi odit
                voluptatibus, quam nostrum unde voluptas asperiores eaque nemo
                eos reprehenderit suscipit nisi, dicta corrupti enim recusandae
                nihil libero.
              </p>
              <div class="WM_GLOBAL_secondary-font sc-1oacxr2-12 hMIZuU">
                <div class="sc-1oacxr2-13 jBTbJx">
                  <div class="figure-counter-wrap sc-1oacxr2-4 eXTKNR">
                    <div class="sc-1oacxr2-5 dONHmQ">1</div>
                    <div class="sc-1oacxr2-9 hsznqr">
                      <div class="sc-1oacxr2-8 ipnIUp">
                        <div class="LazyLoad">
                            <img src="./images/Background.png" style="height: 300px;width: 308px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sc-1oacxr2-7 gzUBsa">
                    <h6
                      class="sc-1oacxr2-6 undefined sm-word-wrap sc-15za8y8-0 efGCZS"
                    >
                      Electrohunt
                    </h6>
                    <p
                      class="sc-1oacxr2-11 undefined sm-word-wrap sc-15za8y8-0 gohCwH"
                    >
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      Modi debitis labore quaerat, harum placeat eligendi odit
                      voluptatibus, quam nostrum unde voluptas asperiores eaque
                      nemo eos reprehenderit suscipit nisi, dicta corrupti enim
                      recusandae nihil libero.
                    </p>
                  </div>
                </div>
                <div class="sc-1oacxr2-13 cgyQOm">
                  <div class="figure-counter-wrap sc-1oacxr2-4 jckHSK">
                    <div class="sc-1oacxr2-5 dQJxMm">2</div>
                    <div class="sc-1oacxr2-9 hsznqr">
                      <div class="sc-1oacxr2-8 ipnIUp">
                        <div class="LazyLoad">
                            <img src="./images/Background.png" style="height: 300px;width: 308px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sc-1oacxr2-7 fuixNp">
                    <h6
                      class="sc-1oacxr2-6 undefined sm-word-wrap sc-15za8y8-0 efGCZS"
                    >
                      Fast Web
                    </h6>
                    <p
                      class="sc-1oacxr2-11 undefined sm-word-wrap sc-15za8y8-0 gohCwH"
                    >
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      Modi debitis labore quaerat, harum placeat eligendi odit
                      voluptatibus, quam nostrum unde voluptas asperiores eaque
                      nemo eos reprehenderit suscipit nisi, dicta corrupti enim
                      recusandae nihil libero..
                    </p>
                  </div>
                </div>
                <div class="sc-1oacxr2-13 jBTbJx">
                  <div class="figure-counter-wrap sc-1oacxr2-4 eXTKNR">
                    <div class="sc-1oacxr2-5 dONHmQ">3</div>
                    <div class="sc-1oacxr2-9 hsznqr">
                      <div class="sc-1oacxr2-8 ipnIUp">
                        <div class="LazyLoad">
                            <img src="./images/Background.png" style="height: 300px;width: 308px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sc-1oacxr2-7 gzUBsa">
                    <h6
                      class="sc-1oacxr2-6 undefined sm-word-wrap sc-15za8y8-0 efGCZS"
                    >
                      Smartdroid
                    </h6>
                    <p
                      class="sc-1oacxr2-11 undefined sm-word-wrap sc-15za8y8-0 gohCwH"
                    >
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      Modi debitis labore quaerat, harum placeat eligendi odit
                      voluptatibus, quam nostrum unde voluptas asperiores eaque
                      nemo eos reprehenderit suscipit nisi, dicta corrupti enim
                      recusandae nihil libero.
                    </p>
                  </div>
                </div>
                <div class="sc-1oacxr2-13 cgyQOm">
                  <div class="figure-counter-wrap sc-1oacxr2-4 jckHSK">
                    <div class="sc-1oacxr2-5 dQJxMm">4</div>
                    <div class="sc-1oacxr2-9 hsznqr">
                      <div class="sc-1oacxr2-8 ipnIUp">
                        <div class="LazyLoad">
                            <img src="./images/Background.png" style="height: 300px;width: 308px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sc-1oacxr2-7 fuixNp">
                    <h6
                      class="sc-1oacxr2-6 undefined sm-word-wrap sc-15za8y8-0 efGCZS"
                    >
                      Eniac
                    </h6>
                    <p
                      class="sc-1oacxr2-11 undefined sm-word-wrap sc-15za8y8-0 gohCwH"
                    >
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      Modi debitis labore quaerat, harum placeat eligendi odit
                      voluptatibus, quam nostrum unde voluptas asperiores eaque
                      nemo eos reprehenderit suscipit nisi, dicta corrupti enim
                      recusandae nihil libero.
                    </p>
                  </div>
                </div>
                <div class="sc-1oacxr2-13 jBTbJx">
                  <div class="figure-counter-wrap sc-1oacxr2-4 eXTKNR">
                    <div class="sc-1oacxr2-5 dONHmQ">5</div>
                    <div class="sc-1oacxr2-9 hsznqr">
                      <div class="sc-1oacxr2-8 ipnIUp">
                        <div class="LazyLoad">
                            <img src="./images/Background.png" style="height: 300px;width: 308px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sc-1oacxr2-7 gzUBsa">
                    <h6
                      class="sc-1oacxr2-6 undefined sm-word-wrap sc-15za8y8-0 efGCZS"
                    >
                      Byte The code
                    </h6>
                    <p
                      class="sc-1oacxr2-11 undefined sm-word-wrap sc-15za8y8-0 gohCwH"
                    >
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      Modi debitis labore quaerat, harum placeat eligendi odit
                      voluptatibus, quam nostrum unde voluptas asperiores eaque
                      nemo eos reprehenderit suscipit nisi, dicta corrupti enim
                      recusandae nihil libero.
                    </p>
                  </div>
                </div>
                <div class="sc-1oacxr2-13 cgyQOm">
                  <div class="figure-counter-wrap sc-1oacxr2-4 jckHSK">
                    <div class="sc-1oacxr2-5 dQJxMm">6</div>
                    <div class="sc-1oacxr2-9 hsznqr">
                      <div class="sc-1oacxr2-8 ipnIUp">
                        <div class="LazyLoad">
                            <img src="./images/Background.png" style="height: 300px;width: 308px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sc-1oacxr2-7 fuixNp">
                    <h6
                      class="sc-1oacxr2-6 undefined sm-word-wrap sc-15za8y8-0 efGCZS"
                    >
                      Arduino Mania
                    </h6>
                    <p
                      class="sc-1oacxr2-11 undefined sm-word-wrap sc-15za8y8-0 gohCwH"
                    >
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      Modi debitis labore quaerat, harum placeat eligendi odit
                      voluptatibus, quam nostrum unde voluptas asperiores eaque
                      nemo eos reprehenderit suscipit nisi, dicta corrupti enim
                      recusandae nihil libero.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    
  </body>
</html>
