<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spectrum 8.0</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="/css/mainstyle.css" />
    <link rel="stylesheet" href="./css/footerStyle.css" />
  </head>
  <body>
    <div class="container-fluid" id="main">
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="/images/IMG_20210902_140040-removebg-preview.png"
              alt=""
              style="height: 5rem"
              class="d-inline-block align-text-top"
            />
          </a>
          <div class="d-flex justify-content-end">
            <div>
              <a id="nav-link" href="/" style="color: white">Home</a>
            </div>
            <div>
              <a id="nav-link" href="#module" style="color: white">Modules</a>
            </div>
            <div>
              <a id="nav-link" href="#about" style="color: white">About</a>
            </div>
          </div>
        </div>
      </nav>
      <div id="hero" class="container-fluid">
        <div style="margin-top: 10vh" class="d-flex justify-content-center">
          <div class="imgstyle">
            <img
              src="/images/logo-1.png"
              alt="Spectrum Connect image"
              id="image1"
            />
          </div>

          <div class="d-flex align-items-center">
            <div style="padding:3px; margin-top: 1rem">
              <h1
                style="
                  font-weight: 80 !important;
                  color: white;
                  font-family: 'Akaya Telivigala', cursive;
                "
                id="para"
              >
                pectrum <span class="num">8.0</span>
              </h1>

              <p
                class="connect"
                style="
                  color: white !important;
                  font-family: 'Poppins', sans-serif;
                "
              >
                The Elixir of Electronics
              </p>
            </div>
        
          </div>
        </div>
      </div>
    </div>

    <!--===========module part============-->
    <section class="text-gray-600 body-font" id="module">
      <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="flex flex-wrap w-full">
          <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
            <div class="flex relative pb-12"></div>
            <div class="flex relative pb-12">
              <div
                class="h-full w-10 absolute inset-0 flex items-center justify-center"
              >
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
              </div>
              <div
                class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
              >
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                  </svg> -->
                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path
                    d="M18.21,16.157v-8.21c0-0.756-0.613-1.368-1.368-1.368h-1.368v1.368v1.368v6.841l-1.368,3.421h5.473L18.21,16.157z"
                  ></path>
                  <path
                    d="M4.527,9.316V7.948V6.579H3.159c-0.756,0-1.368,0.613-1.368,1.368v8.21l-1.368,3.421h5.473l-1.368-3.421V9.316z"
                  ></path>
                  <path
                    d="M14.766,5.895h0.023V5.21c0-2.644-2.145-4.788-4.789-4.788S5.211,2.566,5.211,5.21v0.685h0.023H14.766zM12.737,3.843c0.378,0,0.684,0.307,0.684,0.684s-0.306,0.684-0.684,0.684c-0.378,0-0.684-0.307-0.684-0.684S12.358,3.843,12.737,3.843z M10,1.448c0.755,0,1.368,0.613,1.368,1.368S10.755,4.185,10,4.185c-0.756,0-1.368-0.613-1.368-1.368S9.244,1.448,10,1.448z"
                  ></path>
                  <path
                    d="M14.789,6.579H5.211v9.578l1.368,1.368h6.841l1.368-1.368V6.579z M12.052,12.052H7.948c-0.378,0-0.684-0.306-0.684-0.684c0-0.378,0.306-0.684,0.684-0.684h4.105c0.378,0,0.684,0.306,0.684,0.684C12.737,11.746,12.431,12.052,12.052,12.052z M12.052,9.316H7.948c-0.378,0-0.684-0.307-0.684-0.684s0.306-0.684,0.684-0.684h4.105c0.378,0,0.684,0.307,0.684,0.684S12.431,9.316,12.052,9.316z"
                  ></path>
                </svg>
              </div>
              <div class="flex-grow pl-4">
                <h1
                  class="font-large title-font text-sm text-gray-900 mb-1 tracking-wider"
                >
                  <a href="/Technical" class="Moduleheader"> Technical Module</a>
                </h1>
                <p class="leading-relaxed" style="color: white">
                  Would be dare to miss the technical bit while studying in a
                  technical institute? No, right! So, here is the bunch of
                  tech-bits to munch in.<br />
                  <button class="btn bikBtn"><a href="/Technical">Read More..</a></button>
                </p>
              </div>
            </div>
            <div class="flex relative pb-12">
              <div
                class="h-full w-10 absolute inset-0 flex items-center justify-center"
              >
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
              </div>
              <div
                class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
              >
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <circle cx="12" cy="5" r="3"></circle>
                    <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
                  </svg> -->
                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path
                    d="M8.627,7.885C8.499,8.388,7.873,8.101,8.13,8.177L4.12,7.143c-0.218-0.057-0.351-0.28-0.293-0.498c0.057-0.218,0.279-0.351,0.497-0.294l4.011,1.037C8.552,7.444,8.685,7.667,8.627,7.885 M8.334,10.123L4.323,9.086C4.105,9.031,3.883,9.162,3.826,9.38C3.769,9.598,3.901,9.82,4.12,9.877l4.01,1.037c-0.262-0.062,0.373,0.192,0.497-0.294C8.685,10.401,8.552,10.18,8.334,10.123 M7.131,12.507L4.323,11.78c-0.218-0.057-0.44,0.076-0.497,0.295c-0.057,0.218,0.075,0.439,0.293,0.495l2.809,0.726c-0.265-0.062,0.37,0.193,0.495-0.293C7.48,12.784,7.35,12.562,7.131,12.507M18.159,3.677v10.701c0,0.186-0.126,0.348-0.306,0.393l-7.755,1.948c-0.07,0.016-0.134,0.016-0.204,0l-7.748-1.948c-0.179-0.045-0.306-0.207-0.306-0.393V3.677c0-0.267,0.249-0.461,0.509-0.396l7.646,1.921l7.654-1.921C17.91,3.216,18.159,3.41,18.159,3.677 M9.589,5.939L2.656,4.203v9.857l6.933,1.737V5.939z M17.344,4.203l-6.939,1.736v9.859l6.939-1.737V4.203z M16.168,6.645c-0.058-0.218-0.279-0.351-0.498-0.294l-4.011,1.037c-0.218,0.057-0.351,0.28-0.293,0.498c0.128,0.503,0.755,0.216,0.498,0.292l4.009-1.034C16.092,7.085,16.225,6.863,16.168,6.645 M16.168,9.38c-0.058-0.218-0.279-0.349-0.498-0.294l-4.011,1.036c-0.218,0.057-0.351,0.279-0.293,0.498c0.124,0.486,0.759,0.232,0.498,0.294l4.009-1.037C16.092,9.82,16.225,9.598,16.168,9.38 M14.963,12.385c-0.055-0.219-0.276-0.35-0.495-0.294l-2.809,0.726c-0.218,0.056-0.351,0.279-0.293,0.496c0.127,0.506,0.755,0.218,0.498,0.293l2.807-0.723C14.89,12.825,15.021,12.603,14.963,12.385"
                  ></path>
                </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2
                  class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider"
                >
                  <a href="/Literary" class="Moduleheader"> Literary Module</a>
                </h2>
                <p class="leading-relaxed" style="color: white">
                  Read, write and narrate, but without passion? Ugh! That's
                  dull, that's why we are here to test the literary freaks with
                  their stored creativity in the literary fields. Just dive into
                  the versatility of your character, kids!<br />
                  <button class="btn bikBtn"><a href="/Literary">Read More..</a></button>
                </p>
              </div>
            </div>

            <div class="flex relative">
              <div
                class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
              >
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                    <path d="M22 4L12 14.01l-3-3"></path>
                  </svg> -->
                <svg class="svg-icon" viewBox="0 0 30 20">
                  <path
                    d="M19.325,1.521c0-0.241-0.113-0.468-0.306-0.614c-0.192-0.146-0.444-0.194-0.675-0.125L8.152,3.699
                    C8.137,3.703,8.126,3.714,8.111,3.72C8.06,3.738,8.015,3.765,7.969,3.793C7.928,3.819,7.888,3.84,7.854,3.87
                    C7.817,3.903,7.79,3.943,7.76,3.984C7.73,4.023,7.7,4.059,7.679,4.104C7.658,4.146,7.647,4.191,7.635,4.238
                    c-0.015,0.051-0.029,0.1-0.032,0.155C7.602,4.407,7.595,4.421,7.595,4.438v9.63c-0.727-0.415-1.652-0.67-2.688-0.67
                    c-2.373,0-4.231,1.285-4.231,2.926c0,1.64,1.858,2.926,4.231,2.926c2.37,0,4.226-1.285,4.226-2.926c0-0.019-0.008-0.038-0.008-0.057
                    c0-0.013,0.008-0.026,0.008-0.039V5.017l8.654-2.477v8.61c-0.728-0.415-1.655-0.67-2.693-0.67c-2.371,0-4.228,1.286-4.228,2.926
                    c0,1.642,1.856,2.926,4.228,2.926c2.373,0,4.231-1.284,4.231-2.926c0-0.018-0.007-0.036-0.007-0.057
                    c0-0.012,0.007-0.024,0.007-0.039V1.521z M4.906,17.711c-1.541,0-2.693-0.733-2.693-1.388c0-0.655,1.152-1.388,2.693-1.388
                    c1.538,0,2.688,0.732,2.688,1.388C7.595,16.978,6.444,17.711,4.906,17.711z M15.094,14.795c-1.539,0-2.69-0.733-2.69-1.388
                    c0-0.655,1.151-1.388,2.69-1.388c1.541,0,2.693,0.733,2.693,1.388C17.787,14.062,16.635,14.795,15.094,14.795z"
                  ></path>
                </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2
                  class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider"
                >
                  <a href="/Fun" class="Moduleheader"> Fun Module</a>
                </h2>
                <p class="leading-relaxed" style="color: white">
                  Life without fun? Seems meaningless, atleast for us. Wake up,
                  let's have the fun till it's the end of life. Are you ready to
                  add the fun element to your life?<br />
                  <button class="btn bikBtn"><a href="/Fun">Read More..</a></button>
                </p>
              </div>
            </div>
          </div>
          <div class="video-mask">
            <video
              class="videoclass lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12 container-fluid"
              src="./images/Spectrum video.mp4"
              width="40vw"
              autoplay
              controls
              loop
              muted
              style="
                height: max-content !important;
                align-items: center;
                margin-top: 30vh !important;
                border-radius: 10px;
              "
            ></video>
          </div>
        </div>
      </div>
    </section>


   

    <!--========footer===========-->
    <footer id="about" class="footer container-fluid">
      <div class="footer-content">
        <h3>About</h3>
        <p>Email Us: ecs.nitsilchar2022@gmail.com</p>
        <p>Follow Us:</p>
        <a href="https://www.facebook.com/spectrum.nits" target="_blank"
          ><i class="fab fa-facebook"></i
        ></a>
      </div>
      <div class="footer-bottom">
        <p>&copy;2022 ECS. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
